---
import Card from '../components/Card.astro';
import Faq from '../components/Faq.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import faqsData from '../data/faqs.json';
const faqsArray = faqsData.faqs

const title = "El BLOG mas COMPLETO sobre CULTIVOS HIDROPONICOS";
const productosInicio = await Astro.glob('./productos/*.md');
---
<BaseLayout title={title}>

	<section>
		<h2>쯈u칠 son los <br>Cultivos Hidrop칩nicos游꼒?</h2>
		<p>Los <span>cultivos hidrop칩nicos</span> son una forma innovadora de <span>cultivar alimentos</span> sin usar tierra. En lugar de suelo, utilizan materiales especiales llenos de <span>nutrientes</span> para hacer crecer las plantas, proporcion치ndoles todo lo que necesitan para crecer.</p>
	</section>
	<section>
		<h2>Beneficios de la Hidropon칤a</h2>
		<ul>
			<li><span>Ahorro de agua:</span> Utilizar치s menos agua en comparaci칩n con la agricultura tradicional. En los cultivos hidrop칩nicos, el agua se recircula y se utiliza de manera m치s eficiente.</li>
			<li><span>Mayor producci칩n y calidad:</span> Obtendr치s m치s cantidad de cultivos en menor tiempo y con una calidad superior. Adem치s, en un espacio menor y en un ambiente controlado.</li>
			<li><span>Menos plagas y enfermedades:</span> Tus cultivos tienen menos probabilidades de verse afectadas por plagas y enfermedades del suelo.</li>
			<li><span>Crecimiento durante todo el a침o:</span> No tendr치s que preocuparte por la estaci칩n del a침o. Los cultivos hidrop칩nicos permiten cosechas continuas sin importar en la 칠poca en la que te encuentres.</li>
			<li><span>Ventajas medioambientales:</span> Evitar치s el uso de abonos y recursos h칤dricos, lo que significa menos riesgo de contaminaci칩n por pesticidas, erosi칩n y da침os al suelo.</li>
		</ul>
	</section>
	<section>
		<h2>Dificultades de los Cultivos Hidrop칩nicos</h2>
		<ul>
			<li><span>Costos iniciales:</span> Deber치s realizar una inversi칩n inicial en equipos, luces de crecimiento, nutrientes y sistemas de control, lo que puede resultar algo costoso (ver productos aqu칤)</li>
			<li><span>Conocimiento t칠cnico:</span> Deber치s informarte sobre los diferentes sistemas hidrop칩nicos, tipos de nutrientes, pH del agua y otros aspectos t칠cnicos necesarios para iniciarte.</li>
			<li><span>Mantenimiento constante:</span> Deber치s supervisar y cuidar regularmente tus cultivos, por lo que necesitar치s dedicarle tiempo.</li>
		</ul>
	</section>
	<section>
		<h2>Cultivos Hidrop칩nicos caseros PASO a PASO</h2>
		<div class="iframe-container">
			<iframe src="https://www.youtube.com/embed/0ryn3pitGvg?si=XbvUqjwiJh1F-rzV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</section>
	<section>
		<h2>Los mejores productos para hidroponia</h2>
		<ul class="lista-de-posts">
			{productosInicio.slice(0,6).map((post) => 
			<li>
				<Card imagen={post.frontmatter.image.url} title = {post.frontmatter.title} url={post.url}/>
			</li>)}
		</ul>
	</section>
	<section>
		<h2>Preguntas frecuntes</h2>
		<ul class="faqs">
			{faqsArray.map((faq) => (
				<li><Faq pregunta={faq.pregunta} respuesta={faq.respuesta}/></li>
			))}	
		</ul>
	</section>

	<script>
		import "../scripts/faq.js";
	</script>
</BaseLayout>
