---
const {imagen, titulo, categoria, url} = Astro.props
---
<div class="card-container">
    <a href={`./${categoria}/${url}`}>
      <img src={`../src/images/${imagen}`} alt=`Imagen de ${titulo}`>
      <h3>{titulo}</p>
    </a>
</div>

<style>
    .card-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 16rem;
      padding-top: 1rem;
    }
    .card-container img{
      border-radius: 16px;
      width: 16rem;
    }

    .card-container h2{
      font-size: 1rem;
      margin: 0.5em;
    }
</style>